<%= form_for @comic, url: comic_path(@comic.id), html: { method: :patch } do |f| %>
  <h1>更新</h1>
  <p><%= f.text_field :name %></p>
  <p><%= f.text_field :price %></p>
  <p><%= f.text_field :author %></p>
  <input type="submit" value="更新">
<% end %>
