<h1>詳細画面</h1>
<table class="table">
  <thead>
    <tr>
      <th scope="col">漫画名</th>
      <th scope="col">作者名</th>
      <th scope="col">ストーリー</th>
    </tr>
  </thead>
    <tbody>
      <tr>
        <td><%= @comic.name %></td>
        <td><%= @comic.author %></td>
        <td><%= @comic.story %></td>
      </tr>
    </tbody>
</table>
