<nav>
  <%= link_to '管理画面', '/admin' %>
  <%= link_to 'ユーザー一覧', '/users' %>
  
  <%= link_to 'Markdown', '/users/mark' %>
  <%= link_to 'コミックカテゴリー別売り上げ(グラフ)', '/users/chart' %>
</nav>


<footer>
  <small>©︎2019 秋</small>
</footer>
